#button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    background: #ff0a1b;
    border-radius: 50%;
    border: 1px dashed #3c3c3c;
    color: #fff;
    cursor: pointer;
}

.hide {
    height: 300px;
    width: 300px;
    background: #878787;
    display: none;
}

.hide.visible {
    display: block;
}

